.Container_Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.Container_Perfil{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 80vh;
    margin-top: 88px;
}


.btnEditarPerfil{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 10px;
}

.contPaginas{
    width: 100%;
    margin: 0;
    padding: 0;
}

.fotoCarrito{
    width: 10%;
    background-color: #ccc;
    min-width: 50px;
}

.detalleCarrito{
    width: 80%;
    margin-left: 1rem;
}

.detalleCarrito span{
    font-weight: bold;
}

.fotoCarrito{
    width: 10%;
    background-color: #ccc;
    min-width: 50px;
}

.detalleCarrito{
    width: 80%;
    margin-left: 1rem;
}

.detalleCarrito span{
    font-weight: bold;
}

